.signincontainer{
    width: 90%;
    margin: auto;
    height: 65vh;

    .username, .password{
        width: 100%;
        margin: auto;
    }
    
    .signinform{
        width: 30%;
        margin: auto;
        margin-top: 0px;
    }

    .button{
        margin-top: 50px;
    }

}

