@import "./variables";
@import "./mixins";

.container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.aboutContainer{
    margin-bottom: 125px;
    width: 90%;
    margin: auto;
    text-align: justify;
}

.labelDiv{
    color: $grey;
    font-size: $medium;
    line-height: $form-height-2;
    margin-bottom: 20px;
}
.wordsDiv{
    color: $grey;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 15px;
}

.chefPhoto{
    width:300px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 5px;
}