@import "./variables";
@import "./mixins";

.inputField{
    @include x-large-input($white, $medium, $form-height-2, $grey);
    text-indent: 10px;
}

.optionSelect{
    @include x-large-input($white, $medium, $form-height-2, $grey);
    display: block;
}

.DayPickerInput input{
    @include x-large-input($white, $medium, $form-height-2, $grey);
    display: inline-block;
}

.mainForm{
    display: inline-block;
}

.inputButton{
    @include button($white, $medium, $form-height-2, $grey);
    margin-bottom: 20px;
}