@import "./variables";
@import "./mixins";

.cartContainer{
    width: $half;
    display: flex;
    justify-content: flex-start;
}

.cartImage{
    width: 25px;
    height:25px;
    margin-inline-end: 3px;
    align-self: center;
}

.cartImageOne{
    width: 25px;
    height:25px;
    margin-inline-end: 3px;
    align-self: center;
    cursor: pointer;
}

.cartHeader{
    margin-inline-end: 5px;
}

.cartText{
    margin-inline-end: 5px;
    align-self: center;
}

.modal {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cartEditButton{
    width: 90%;
    line-height: 20px;
    font-size: 1rem;
    color: $grey;
    cursor: pointer;
    outline: none;
    border:0px;
    margin:10px;
}

.submitButton{
    width:30%;
    line-height: 30px;
    font-size: 1.3rem;
    color: $grey;
    cursor: pointer;
    outline: none;
    border:0px;
    background-color: $lite-grey;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-inline-end: 50px;
    cursor: pointer;
}

.cartList{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    margin-bottom: 2px;
    background-color: $lite-grey;
}
.cartListTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-items: left;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 800;
    color:$grey;
    grid-gap: 0px 5px;
}



