@import "./variables";
@import "./mixins";


.halfdivContainer{
    width: $half;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
    border-bottom: 1px solid $orange;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:20px;
}

.fulldivContainer{
    width: $full;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
    border-bottom: 1px solid $orange;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:20px;
}