@import "./variables";

.dashboard{
    width: 90%;
    height:400px;
    margin: auto;
    background-color: $very-lite-orange;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.left{
    width: $half;
    color: $grey;
    display: flex;
    flex-direction: column;
    margin-inline-start: 20px;
    width: $half;
}
.right{
    width: $half;
}
.table-head{
    width: $tre-q;
    margin-top: 5px;
    line-height: $form-height;
    outline: none;
    background-color: $grey;
    color: $white;
    cursor: pointer;
    text-indent: 10px;
}
table{
    width: 90%;
}
td{
    width: 30%;
    text-indent: 10px;
}
.hide{
    display:none;
}

.toggle{
    width:10px;
    height: 10px;
    margin-inline-end: 10px;
}