@import "./variables";
@import "./mixins";


.wordsServices{
    color: $grey;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 20px; 
}

.labelServices{
    color: $grey;
    font-size: $medium;
    width: 30%;
    line-height: $form-height-2;
    margin-bottom: 20px;
}

.servicesText{
    text-align: justify;
    text-indent: 0px
}