//colors 
$orange: #F67743;
$lite-orange: rgba(242, 122, 53, 0.678);
$very-lite-orange:rgba(230, 189, 93, 0.308);
$white: rgba(255, 255, 255, 0.9);
$grey:#6B7A88;
$lite-grey: lightgrey;
$green:lightseagreen;
$yellow:rgb(230, 189, 93);

//font sizes
$small: 0.5rem;
$medium:1rem;
$large:1.5rem;
$x-large:2rem;
$xx-large:2.5rem;


$form-height:20px;
$form-height-2:30px;

//widths 
$full:100%;
$half:50%;
$tre-q:75%;
$ett-q:25%


