@import "../Scss/variables";
@import "../Scss/mixins";

.titlecontainer{
    width: 100%;
    text-align: left;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
}

.titleicon{
    width: 32px;
    height:32px;
    display: inline-block;
}

.titletext{
    font-size: 20px;
    font-weight: 700;
    color: seagreen;
    display: inline-block;
    margin-inline-start: 5px;
}