.inputContainer{
    label{
        display: block;
        font-size: 1rem;
        font-weight: 500;
        font-family: roboto;
        line-height: 40px;
        text-indent: 5px
    }

    .isvalid{
        width: 100%;
        line-height: 30px;
        outline: none;
        border: none;
        font-size: 0.9rem;
        text-indent: 5px;
        border-bottom: 1px solid red;
    }

    .inputForm, .textArea{
        width: 100%;
        line-height: 30px;
        outline: none;
        border: none;
        font-size: 0.9rem;
        text-indent: 5px;
        border-bottom: 1px solid lightblue;
       
        &:focus{
            border-bottom: 1px solid blue;
        }

        &::placeholder{
            font-size: 0.9rem;
            text-indent: 5px
        }
    }
}