@import "../Scss/variables";
@import "../Scss/mixins";

.logo{
    margin-top: 5px;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.signupButton{
    background-color: seagreen;
}


@media screen and (max-width:414px) {
    .navigation{
       display:none;
    }
}

