@import "../Scss/variables";
@import "../Scss/mixins";


.container{
    width: 100%;
    margin: auto;
    text-align: left;
    display: inline-block;
    margin: 10px;

    .foodName{ 
        margin: 5px 5px 5px 10px;
        font-size: 20px;
        font-family: roboto;
        font-weight: 500;
        color: $grey;
    }
    
    .imageContainer{
        height: 35vh;
    }
    
    .cardImg{
        width: 100%;
        margin: 0px;
        height: 30vh;
        opacity: 0.4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    a:link {
        text-decoration: none;
        color: $grey;
    }
    /* unvisited link */

    /* visited link */
    a:visited {
        color: $grey;
    }

    /* mouse over link */
    a:hover {
        color: $grey;
    }

    /* selected link */
    a:active {
        color: $grey;
    }
}
